<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="description" content="Create a short, typeable links for long URLs and files">
<title>U9K - Link Shortener & File Storage</title>
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
<link rel="mask-icon" href="/static/icons/favicon.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/icons/favicon.ico">
<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/grids-responsive-min.css">
<link rel="stylesheet" href="/static/css/styles.css">
