<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="/" title="U9K Homepage"><img src="/static/icons/favicon-180x180.png" alt="U9K Logo" style="height: 3em; vertical-align: middle;"></a>

    <ul class="pure-menu-list">
      <!-- TODO: change link color, change background color on hover to var(--light-blue) -->
      <!-- TODO: make hamburger menu on small devices -->
      <li class="pure-menu-item"><a href="{{ absUrl "/" }}" class="pure-menu-link">Home</a></li>
      <li class="pure-menu-item"><a href="{{ absUrl "/ip/" }}" class="pure-menu-link">IP</a></li>
    </ul>
  </div>
</div>

<!-- create some space from the header -->
<div style="height: 50px;"></div>
