<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_head.html"}}
    <script defer src="/static/js/main.js"></script>
  </head>
  <body>
    {{ template "_header.html" }}

    <div class="content-wrapper">
      <div class="pure-u-1 content is-center">
        <p style="font-size: 1.25em;">
          <i>Your web browser provided the following information:</i>
          <br>
          <table class="pure-table pure-table-striped" style="text-align: left; width: 100%;">
            <tbody>
              <tr>
                <td class="fitwidth">IP&nbsp;Address:</td>
                <td>{{ .ClientInfo.IPAddress }}</td>
                <td class="fitwidth">
                    <a data-tip="The IP address from which you are connecting to our servers." style="display: flex; align-items: center;"> <!-- vertically align svg icon -->
                      <svg style="height: 1.5em; width: 1.5em;">
                        <use href="#symbol_question-mark-circle"></use>
                      </svg>
                    </a>
                </td>
              </tr>
              <tr>
                <td class="fitwidth">Web&nbsp;Browser:</td>
                <td>{{ .ClientInfo.Browser }}</td>
                <td>
                    <a data-tip="The web browser you are using to view this web page." style="display: flex; align-items: center;"> <!-- vertically align svg icon -->
                      <svg style="height: 1.5em; width: 1.5em;">
                        <use href="#symbol_question-mark-circle"></use>
                      </svg>
                    </a>
                </td>
              </tr>
              <tr>
                <td class="fitwidth">Operating&nbsp;System:</td>
                <td>{{ .ClientInfo.OS }}</td>
                <td>
                    <a data-tip="The operating system as reported by your web browser." style="display: flex; align-items: center;"> <!-- vertically align svg icon -->
                      <svg style="height: 1.5em; width: 1.5em;">
                        <use href="#symbol_question-mark-circle"></use>
                      </svg>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </div>

    {{ template "_footer.html" . }}

    {{ template "_icons.html" }}
  </body>
  <script>
    /* register relevant event handlers */
    window.addEventListener('load', (event) => {
        tooltips();
    });
  </script>
</html>
