<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "_head.html"}}
  </head>
  <body>
    {{ template "_header.html" }}

    <div class="content-wrapper">
      <div class="pure-u-1 content is-center">
        <p style="font-size: 1.25em;">
        The link
        <br>
        <a href="{{ .Link.ExportLink }}">{{ .Link.ExportLink }}</a>
        <br>
        points to
        <br>
        <a href="{{ .Link.Url }}">{{ .Link.Url }}</a>
        </p>
        <p>
        Created on {{ .Link.CreateTimestamp.Format "2006-01-02" }}, used {{ .Link.Counter }} times since then.
        </p>
      </div>
    </div>

    {{ template "_footer.html" . }}

    {{ template "_icons.html" }}
  </body>
</html>
